.bg-l-grey {
    background-color: #2C3E50;
}

.b-black {
    border: 2px dashed black;
}

.h-100px {
    height: 100px;
}

.h-50px {
    height: 50px;
}

.h-60px {
    height: 60px;
}

.h-80px {
    height: 80px;
}

.h-200px {
    height: 200px;
}

.h-300px {
    height: 300px;
}

.h-500px {
    height: 500px;
}

.h-600px {
    height: 600px;
}

.w-300px {
    width: 300px;
}

.star-line-blue {
    border: 2px solid #2c3e50;
    width: 60px;
}

.star-line-white {
    border: 2px solid white;
    width: 60px;
}

.stella {
    font-size: 1.5rem;
}

.avatar {
    width: 300px;
    height: 300px;
}

.cl-dark-blue {
    color: #2c3e50;
}


.bg-l-aqua {
    background-color: #1ABC9C;
}

.bg-granada {
    background-color: #BA4B63;
}

.bg-skye-blue {
    background-color: #1EA4B6;
}

.bg-black {
    background-color: #140F0F;
}

.bg-light-blue {
    background-color: #1C83C1;
}

.bg-blue {
    background-color: #0E38B5;
}

.bg-light-brown {
    background-color: #CCB2A3;
}

.bg-3A546D {
    background-color: #3A546D;
}

.bg-dark-blue {
    background-color: #2c3e50;
}